@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

*,*:before,*:after{box-sizing:border-box;}

body{
  min-height:100vh;
  font-family: 'Raleway', sans-serif;
}

.container{
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
  
  &:hover,&:active{
    .top, .bottom{
      &:before, &:after{
        margin-left: 450px;
        transform-origin: -450px 50%;
        transition-delay:0s;
      }
    }
    
    .center{
      opacity:1;
      transition-delay:0.2s;
    }
  }
}

.top, .bottom{
  &:before, &:after{
    content:' ';
    display:block;
    position:absolute;
    width:200vmax;
    height:200vmax;
    top:50%;left:50%;
    margin-top:-100vmax;
    transform-origin: 0 50%;
    transition:all 0.5s cubic-bezier(0.5, 0.05, 0, 1);
    z-index:-1;
    opacity:0.65;
    transition-delay:0.2s;
    color: #fff;
  }
}

.letter {
  position: absolute;
  top: 90%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  opacity: 1;
}

.letter1 {
  position: absolute;
  top: 43%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  opacity: 1;
}

.letter2 {
  position: absolute;
  top: 90%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  opacity: 1;
}

.letter3 {
  position: absolute;
  top: 43%;
  left: 24%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  opacity: 1;
}

.container:hover .letter {
  opacity: 0;
  visibility: hidden;
}

.container:hover .letter1 {
  opacity: 0;
  visibility: hidden;
}

.container:hover .letter2 {
  opacity: 0;
  visibility: hidden;
}

.container:hover .letter3 {
  opacity: 0;
  visibility: hidden;
}

.top{
  &:before{transform:rotate(90deg);background:  #FFE3B3;}
  &:after{transform:rotate(180deg);background: #92DE8B;}
}

.bottom{
  &:before{transform:rotate(-90deg);background:#0AB68B;}
  &:after{transform:rotate(0deg);background: #028174;}
}
/*image of square*/
.image{
  position: absolute;
  width: 400px;
  height: auto;
  top: 24%;
  left: 24%;
  transform: translate(-50%, -50%);
  /* transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1); */
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-out;
  transition-delay:0.2s;
}

.container:hover .image {
  opacity: 0;
  visibility: hidden;
}

.image2{
  position: absolute;
  width: 500px;
  height: auto;
  top: 72%;
  left: 25%;
  transform: translate(-50%, -50%);
  /* transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1); */
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-out;
  transition-delay:0.2s;
}

.container:hover .image2 {
  opacity: 0;
  visibility: hidden;
}

.image3{
  position: absolute;
  width: 300px;
  height: 275px;
  top: 72%;
  left: 75%;
  transform: translate(-50%, -50%);
  /* transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1); */
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-out;
  transition-delay:0.2s;
}

.container:hover .image3 {
  opacity: 0;
  visibility: hidden;
}

.image4{
  position: absolute;
  width: 300px;
  height: 275px;
  top: 24%;
  left: 75%;
  transform: translate(-50%, -50%);
  /* transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1); */
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-out;
  transition-delay:0.2s;
}

.container:hover .image4 {
  opacity: 0;
  visibility: hidden;
}

.center{
  position:absolute;
  width:500px;
  height:400px;
  top:50%;left: 50%;
  transform: translate(-50%, -50%);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:20px;
  opacity:0;
  transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  transition-delay:0s;
  color:#333;
  border: 3px solid #fff;
  border-radius: 15px;
  box-shadow: 0 0 5px 5px rgba(66, 133, 244, .3);
  z-index: 1;
}

.center h2{
    font-size: 25px;
}
/*-------------------------------------------------------------- dot decoration --------------------------------------------------------------*/
.decoration{
  top: 8%;
  left: 25%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.dot {
  height: 20px;
  width: 20px;
  margin: 10px;
  background-color: #079073;
  border-radius: 50%;
  display: block;
  opacity: 0;
  animation: animate 3s linear infinite;
}

.decoration2{
  bottom: 0%;
  left: 29%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.dot2 {
  height: 20px;
  width: 20px;
  margin: 10px;
  background-color: #92DE8B;
  border-radius: 50%;
  display: inline-block;
  opacity: 0;
  animation: animate2 3s linear infinite;
}

.decoration3{
  top: 3%;
  left: 72%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.dot3 {
  height: 20px;
  width: 20px;
  margin: 5px;
  background-color: #0AB68B;
  border-radius: 50%;
  display: inline-block;
  opacity: 0;
  animation: animate3 3s linear infinite;
}

.decoration4{
  top: 90%;
  left: 74%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.dot4 {
  height: 20px;
  width: 20px;
  margin: 10px;
  background-color: #028174;
  border-radius: 50%;
  display: block;
  opacity: 0;
  animation: animate4 3s linear infinite;
}

.container:hover .dot {
  opacity: 1;
  transition-delay:0.2s;
}

.container:hover .dot2 {
  opacity: 1;
  transition-delay:0.2s;
}

.container:hover .dot3 {
  opacity: 1;
  transition-delay:0.2s;
}

.container:hover .dot4 {
  opacity: 1;
  transition-delay:0.2s;
}

@keyframes animate{
  40%{
      box-shadow: 0px 0px 0px 4px #fff,
                  0px 0px 0px 6px #079073;
  }
  90%{
      box-shadow: 0px 0px 0px 8px #fff,
                  0px 0px 0px 8px #079073;
  }
}
@keyframes animate2{
  40%{
      box-shadow: 0px 0px 0px 4px #fff,
                  0px 0px 0px 6px #92DE8B;
  }
  90%{
      box-shadow: 0px 0px 0px 8px #fff,
                  0px 0px 0px 8px #92DE8B;
  }
}
@keyframes animate3{
  40%{
      box-shadow: 0px 0px 0px 4px #fff,
                  0px 0px 0px 6px #0AB68B;
  }
  90%{
      box-shadow: 0px 0px 0px 8px #fff,
                  0px 0px 0px 8px #0AB68B;
  }
}
@keyframes animate4{
  40%{
      box-shadow: 0px 0px 0px 4px #fff,
                  0px 0px 0px 6px #028174;
  }
  90%{
      box-shadow: 0px 0px 0px 8px #fff,
                  0px 0px 0px 8px #028174;
  }
}
/*-------------------------------------------------------------Login button---------------------------------------------------*/

.g-sign-in-button {
    position: relative; 
    display: inline-block;
    width: 240px;
    height: 50px;
    background: linear-gradient(315deg, #079073 0%, #2bc96d 74%);


    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    transition: background-color .218s, border-color .218s, box-shadow .218s;
}

.g-sign-in-button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
    box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
}

.g-sign-in-button:active {
    background-color: #3367d6;
    transition: background-color .2s;
}

.g-sign-in-button .content-wrapper {
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
}

.g-sign-in-button img {
    width: 18px;
    height: 18px;
}

.g-sign-in-button .logo-wrapper {
    padding: 15px;
    background: #fff;
    width: 48px;
    height: 100%;
    border-radius: 5px;
    display: inline-block;
}

.g-sign-in-button .text-container a {
    font-family: Roboto, arial, sans-serif;
    font-weight: 500;
    letter-spacing: .21px;
    font-size: 16px;
    line-height: 48px;
    vertical-align: top;
    border: none;
    display: inline-block;
    text-align: center;
    width: 180px;
    color: #fff;
    text-decoration: none;
}
/*================================================================================================================*/

/*===========================================circle decoration ===================================================*/
.skill{
  width: 160px;
  height: 160px;
  position: relative;
  top: 18%;
  left: 31%;
  opacity: 0;
  z-index: 0;
}

.outer{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.7);
}

.inner{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
              inset -4px -4px 6px -1px rgba(255,255,255, 0.7),
              -0.5px -0.5px 0px  rgba(255,255,255, 1),
              0.5px 0.5px 0px  rgba(0, 0, 0, 0.15),
              0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}
circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 0;
  animation: anim 2s linear forwards;
}

.container:hover .skill {
  opacity: 1;
  transition-delay:0.2s;
}

svg{
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes anim{
  100%{
    stroke-dashoffset: 175;
  }
}
/*===============================================================circle 2nd===============================================================*/ 
.skill2{
  width: 160px;
  height: 160px;
  position: relative;
  top: 45.5%;
  left: 60%;
  opacity: 0;
  z-index: 0;
}

.outer2{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.7);
}

.inner2{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
              inset -4px -4px 6px -1px rgba(255,255,255, 0.7),
              -0.5px -0.5px 0px  rgba(255,255,255, 1),
              0.5px 0.5px 0px  rgba(0, 0, 0, 0.15),
              0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}
.skill2 circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 0;
  animation: anim2 2s linear forwards;
}

.container:hover .skill2 {
  opacity: 1;
  transition-delay:0.2s;
}

.skill2 svg{
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes anim2{
  100%{
    stroke-dashoffset: 175;
  }
}
/*================================================================================================================*/