body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .table-container {
    margin-left: 225px;
    margin-top: 35px;
  
  }
  
  table {
    width: 70%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  th,
  td {
    padding: 10px;
    text-align: center;
    font-size: 16px;
  }
  
  th {
    background-color: #333;
    color: #fff;
  }
  
  /* tr:nth-child(even) {
    background-color: #f2f2f2;
  } */
  
  tr:hover {
    background-color: #ddd;
  }

  .semester-header{
    margin-left: 225px;
    margin-top: 30px;
  }